# Data formats
pyyaml

# .env file support
python_dotenv

# MkDocs packages
mkdocs
mkdocs-material
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox

# Material for MkDocs Insiders features installed separately
## Installed automatically by "scripts/install-mkdocs-material-insiders.sh"
## in the VS Code dev container. Installed for production documentation builds
## with a GitHub Action using ".github/workflows/mkdocs-build.yml".

# Python formatting
autopep8
flake8

# Python interpreter
ipython

# Python templater
Jinja2

# Python testing
pytest
pytest-cov

# Python tools
pip-tools

# Static code analysis
bandit

# YAML formatting
yamllint
